/* Coolors Exported Palette - coolors.co/bfc0c0-ffffff-214f4b-45cb85-ef8354 */

/* HSL */
$color1: hsla(180%, 1%, 75%, 1);
$color2: hsla(0%, 0%, 100%, 1);
$color3: hsla(175%, 41%, 22%, 1);
$color4: hsla(149%, 56%, 53%, 1);
$color5: hsla(18%, 83%, 63%, 1);

/* RGB */
$color1: rgba(191, 192, 192, 1);
$color2: rgba(255, 255, 255, 1);
$color3: rgba(33, 79, 75, 1);
$color4: rgba(69, 203, 133, 1);
$color5: rgba(239, 131, 84, 1);

/* Regular Color Palette: */
/*
	dark: #34675C;
	light: #B7B8B6;
	primary: #4CB5F5;
	secondary: #B3C100;

*/
$dark:		#34675C;
$light:		#B7B8B6;

$navBG:		#212b29;
$navFont:	#CCC;

$primary:	#4CB5F5;
$primaryFont: white;

$secondary:	#B3C100;
$secondaryFont: white;